<div class="container-fluid">
  <div class="text-center"><h4>results for: <%= @query %></h4></div>

  <br>

  <% @tracks.each do |track| %>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1">
        <%= image_tag track['album']['images'][1]['url'], :width=> "150px", :height=> "150px", :class=> "track-pic" %>
      </div>
      <div class="col-sm-4">
        <h3><%= link_to track['name'], "/track/" + track['id'] %></h3>
        <h4><%= track['artists'][0]['name'] %></h4>
        <h4><%= track['album']['name'] %></h4>
        <h5><%= link_to 'Preview', track['preview_url'], target: "blank" %></h5>
      </div>
    </div>
    <br>
  <% end %>
</div>
