<!DOCTYPE html>
<html>
  <head>
    <title>WhoPlayedOnThat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !current_user %>
      <%= link_to "Sign in with spotify", "/auth/spotify" %>
    <% else %>
      <%= image_tag current_user[:image], :width=> "60px", :height=> "60px", :class=> "profile-pic" %>
      <%= link_to "Sign Out", "/signout", :class=> "standard-text"%>
    <% end %>

    <%= yield %>
  </body>
</html>
