<!DOCTYPE html>
<html>
  <head>
    <title>WhoPlayedOnThat</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      <nav class="navbar">
        <div class="row">

          <div class="col-sm-6 sol-sm-offset-4">
            <form action="/tracks" method="get" class="form-inline">
              <div class="form-group">
                <label>Who Played On</label>
                <input type="text" name="q" class="input-small form-control" placeholder="That">
              </div>
              <button type="submit" class="btn btn-default">?</button>
            </form>
          </div>

          <div class="pull-right">
            <% if !current_user %>
            <%= image_tag 'http://static1.businessinsider.com/image/55816e00ecad042e1153bd2b/designer-calls-spotifys-new-logo-self-indulgent.jpg', :width=> "60px", :height=> "50px", :class=> "spotify" %>
              <%= link_to "login", "/auth/spotify" %>
            <% else %>
              <%= image_tag current_user[:image], :width=> "60px", :height=> "60px", :class=> "profile-pic" %>
              <%= link_to "logout", "/signout", :class=> "standard-text"%>
            <% end %>
          </div>
        </div>
      </nav>
    </div>

    <% flash.each do |name, msg| %>
      <div class="text-center"><%= msg %></div>
    <% end %>

    <div class ="container-fluid">
      <%= yield %>
    </div>

    <div class="navbar navbar-fixed-bottom">
      <div class="text-center">
      <%= image_tag 'http://icons.iconarchive.com/icons/aha-soft/torrent/512/copyleft-icon.png', :width=> "15px", :height=> "15px", :class=> "copyleft" %>
      <h6>made by weston</h6>
      </div>
    </div>


  </body>
</html>
